<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{{{ PRODUCT_NAME }}}</title>
  <link rel="shortcut icon" href="TemplateData/favicon.ico">
  <link rel="stylesheet" href="TemplateData/style.css">
  <style>
    html {
      box-sizing: border-box;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    body {
      margin: 0;
      background-image: url("seamless-donuts-background.jpg");
      background-repeat: repeat-y repeat-x;
      background-size: 450px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    #unity-container {
      border-radius: 5px;
      padding: 1em;
      background: rgba(255, 255, 255, 0.95);
    }

    h1 {
      margin: 0;
    }

    thead {
      font-weight: bold;
    }

    td {
      padding: 0 0.5em 0;
    }

    #keyboardcontrols {
      margin-right: 1em;
    }

    #gamecontrols {
      padding-bottom: 2em;
    }
  </style>
</head>

<body>
  <div id="unity-container" class="unity-desktop">
    <div id="myCountent">
      <h1>Frying Donut - The Game</h1>
      <table id="gamecontrols">
        <tr>
          <td>
            <h2>Keyboard Controls</h2>
            <table id="keyboardcontrols">
              <thead>
                <tr>
                  <td>Function</td>
                  <td>Mapping 1</td>
                  <td>Mapping 2</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Movement</td>
                  <td>WASD</td>
                  <td>Arrowkeys</td>
                </tr>
                <tr>
                  <td>Look around/Aim</td>
                  <td>Mouse Cursor</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Shoot</td>
                  <td>Left Mouse Button</td>
                  <td>Space</td>
                </tr>
                <tr>
                  <td>Switch Weapon</td>
                  <td>Right Mouse Button</td>
                  <td>Left Shift</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>
            <h2>Gamepad Controls</h2>
            <table>
              <thead>
                <tr>
                  <td>Function</td>
                  <td>Mapping 1</td>
                  <td>Mapping 2</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Movement</td>
                  <td>Left Stick</td>
                  <td>Arrowkeys</td>
                </tr>
                <tr>
                  <td>Look around/Aim</td>
                  <td>Right Stick</td>
                  <td></td>
                </tr>
                <tr>
                  <td>Shoot</td>
                  <td>LB</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Switch Weapon</td>
                  <td>RB</td>
                  <td>B</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <canvas id="unity-canvas"></canvas>
    <div id="unity-loading-bar">
      <div id="unity-logo"></div>
      <div id="unity-progress-bar-empty">
        <div id="unity-progress-bar-full"></div>
      </div>
    </div>
    <div id="unity-footer">
      <div id="unity-webgl-logo"></div>
      <div id="unity-fullscreen-button"></div>
      <div id="unity-build-title">{{{ PRODUCT_NAME }}}</div>
    </div>
  </div>
  <script>
    var buildUrl = "Build";
    var loaderUrl = buildUrl + "/{{{ LOADER_FILENAME }}}";
    var config = {
      dataUrl: buildUrl + "/{{{ DATA_FILENAME }}}",
      frameworkUrl: buildUrl + "/{{{ FRAMEWORK_FILENAME }}}",
      codeUrl: buildUrl + "/{{{ CODE_FILENAME }}}",
      #if MEMORY_FILENAME
        memoryUrl: buildUrl + "/{{{ MEMORY_FILENAME }}}",
      #endif
#if SYMBOLS_FILENAME
        symbolsUrl: buildUrl + "/{{{ SYMBOLS_FILENAME }}}",
      #endif
        streamingAssetsUrl: "StreamingAssets",
      companyName: "{{{ COMPANY_NAME }}}",
      productName: "{{{ PRODUCT_NAME }}}",
      productVersion: "{{{ PRODUCT_VERSION }}}",
    };

    var container = document.querySelector("#unity-container");
    var canvas = document.querySelector("#unity-canvas");
    var loadingBar = document.querySelector("#unity-loading-bar");
    var progressBarFull = document.querySelector("#unity-progress-bar-full");
    var fullscreenButton = document.querySelector("#unity-fullscreen-button");

    if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
      container.className = "unity-mobile";
      config.devicePixelRatio = 1;
    } else {
      canvas.style.width = "{{{ WIDTH }}}px";
      canvas.style.height = "{{{ HEIGHT }}}px";
    }
#if BACKGROUND_FILENAME
    canvas.style.background = "url('" + buildUrl + "/{{{ BACKGROUND_FILENAME.replace(/'/g, '%27') }}}') center / cover";
#endif
    loadingBar.style.display = "block";

    var script = document.createElement("script");
    script.src = loaderUrl;
    script.onload = () => {
      createUnityInstance(canvas, config, (progress) => {
        progressBarFull.style.width = 100 * progress + "%";
      }).then((unityInstance) => {
        loadingBar.style.display = "none";
        fullscreenButton.onclick = () => {
          unityInstance.SetFullscreen(1);
        };
      }).catch((message) => {
        alert(message);
      });
    };
    document.body.appendChild(script);
  </script>
</body>

</html>